#home {
  padding: 40px 0;
  .home {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 90px;
    width: 100%;
    &--header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      h1 {
        font-size: clamp(14px, 3vw, 24px);
        font-weight: 400;
        color: #000000;
      }
      select {
        width: clamp(80px, 12vw, 240px);
        height: clamp(20px, 4vw, 40px);
        border: 2px solid black;
        font-size: clamp(12px, 3vw, 18px);
        font-weight: 300;
        border-radius: 7px;
      }
      button {
        width: clamp(30px, 5vw, 60px);
        height: clamp(20px, 4vw, 40px);
        border: 2px solid #000000;
        font-size: clamp(12px, 3vw, 18px);
        border-radius: 7px;
      }
      h3 {
        font-size: clamp(12px, 3vw, 24px);
        font-weight: 400;
        color: #000000;
        span {
          color: red;
        }
      }
    }
    &--todo {
      width: 100%;
      h1 {
        font-size: clamp(16px, 3vw, 28px);
        margin-bottom: clamp(20px, 5vw, 40px);
        font-weight: 400;
      }
      &__blocks {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 30px;
        overflow-y: scroll;
        height: 67vh;
        padding: 45px 0;
        width: 80%;
        &--block {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 2px solid black;
          width: clamp(300px, 60vw, 900px);
          height: 80px;
          padding: 15px;
          border-radius: 10px;
          h2 {
            font-size: clamp(12px, 3vw, 20px);
            color: #000000;
            font-weight: 400;
            span {
              font-size: clamp(10px, 2vw, 18px);
              font-weight: 300;
            }
          }
          &__btn {
            display: flex;
            align-items: center;
            gap: 10px;
          }
          button {
            background: none;
            padding: 6px 10px;
            border-radius: 10px;
            font-size: clamp(12px, 3vw, 20px);
          }
        }
      }
    }
    &--done {
      width: 100%;
      h1 {
        font-size: clamp(16px, 3vw, 28px);
        margin-bottom: clamp(20px, 5vw, 40px);
        font-weight: 400;
      }
      &__blocks {
        width: 80%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 30px;
        overflow-y: scroll;
        height: 67vh;
        padding: 45px 0;
        &--block {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 2px solid black;
          width: clamp(300px, 60vw, 900px);
          height: 80px;
          padding: 15px;
          border-radius: 10px;
          h2 {
            font-size: clamp(12px, 3vw, 20px);
            color: #000000;
            font-weight: 400;
            span {
              font-size: clamp(10px, 2vw, 18px);
              font-weight: 300;
            }
          }
          &__btn {
            display: flex;
            align-items: center;
            gap: 10px;
          }
          button {
            background: none;
            padding: 6px 10px;
            border-radius: 10px;
            font-size: clamp(12px, 3vw, 20px);
          }
        }
      }
    }
  }
}

@media (max-width: 720px) {
  #home .header select {
    border: 1px solid black;
  }
  #home .home--todo__blocks {
    width: 100%;
  }
  #home .home--done__blocks {
    width: 100%;
  }
  
}
